.formHeader {
  border-bottom: 1px solid #bbb;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.billingContactForm {
  padding: 10px;
  min-width: 310px;
  max-width: 480px;
}

.billingContactForm > .formFields {
  align-items: center;
  column-gap: 15px;
  display: grid;
  grid-template-columns: 120px calc(45% - 60px) auto calc(35% - 60px);
  row-gap: 10px;
  padding: 10px 20px 30px;
}

.billingContactForm > .formFields > .formLabel {
  display: flex;
  grid-column: 1/1;
  justify-self: end;
}

.billingContactForm > .formFields > .formInput {
  grid-column: 2/5;
}

.billingContactForm > .formFields > .nameInput > input:nth-child(1) {
  margin-right: 5px;
}

.billingContactForm > .formFields > .nameInput > input:nth-child(2) {
  margin-left: 5px;
}

.billingContactForm > .formFields input {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-size: 14px;
  height: 34px;
  padding: 0 5px;
  width: 100%;
}

.billingContactForm > .formFields input:disabled {
  cursor: not-allowed;
}

.formLabel {
  flex-shrink: 0;
  font-size: 11px;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stepBtn {
  align-items: center;
  background: #4dbdff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  height: 34px;
  justify-content: center;
  transition: all 0.2s;
  width: 100%;
}

.stepBtn:disabled {
  cursor: not-allowed;
}
